@import '../standard.styl'

h1
  color blue

h2
  color blue

.wrapper
  padding 10px
  display flex
  background linear-gradient(#e98a00, #f5aa2f)

  @media screen and (min-width 600px)
    padding 0

.wrapper2
  padding 30px

  @media screen and (min-width 600px)
    padding 0
